.hero {
    text-align: center;
    background: $color-footer-font;
    // padding-top: 200px;
    // padding-bottom: 200px;
    padding-top: 118px;
    padding-bottom: 118px;

    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/index_logo/header-img.jpg);
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @media screen and (min-width:1200px) {
        padding-top: 200px;
        padding-bottom: 200px;
      }


  }
  
  .hero-title {
    font-weight: 900;
    // font-size: 44px;
    font-size: 26px;
    // line-height: 1.36;
    line-height: 1.61;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $color-white;
    max-width: 642px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

    @media screen and (min-width:1200px) {
        font-size: 44px;
        line-height: 1.36;
      }
  }