.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;
  color:  $color-dark-grey;
  margin-bottom: 4px;
}
.portfolio-list {
    font-size: 16px;
    line-height: 1.87;
    /* identical to box height, or 188% */
  }
  .portfolio-link {
    display: inline-block;
    transition: box-shadow  $transition-duration  $transition-function;
    outline: none;
  }

  .cards-content {
    padding: 20px 24px;
    border:  $color-border;
  }