.team {
    background:  $color-filter-button;
  }
  
  .team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    /* identical to box height */
    text-align: center;
    color:  $color-dark-grey;
    margin-bottom: 10px;
  }

  .team-item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: $color-white;
    // flex-basis: calc((100% - 90px) / 4);
    padding-bottom: 30px;
    // @include mq(tab)  
  
}
  
  .team-work {
    text-align: center;
    font-size: 16px;
    line-height: 1.19;
    /* identical to box height */
    margin-bottom: 16px;
  }
  
  .team-about {
    align-items: center;
    background-color:  $color-white;
    border-radius: 0px 0px 4px 4px;
    padding: 0;
    margin: 0;
  }

  .team-item img {
    margin-bottom: 30px;
  }
  