.adress-item {
  transition: color $transition-duration $transition-function;

  &-item:hover,
  &-item:focus {
    color: $color-light-blue;
  }

  &-item:not(:last-child) {
    margin-bottom: 9px;
  }
}