.adress-item:hover,
  .adress-item:focus {
    color: $color-light-blue;
  }
  
  .adress-item:not(:last-child) {
    margin-bottom: 9px;
  }
  
  .adress-item {
    transition: color $transition-duration $transition-function;
  }