.contacts {
    margin-left: auto;
    display: flex;
    align-items: center;
  }

  
  .contacts__link:hover,
  .contacts__link:focus {
    color: $color-light-blue;
  }

  .contacts__item:not(:last-child) {
    margin-right: 50px;
  }