.mail__icon {
    width: 16px;
    height: 12px;
  }
  
  .icon:hover {
    fill: currentColor;
  }
  
  .tel__icon {
    width: 10px;
    height: 16px;
  }
  
  .contacts .icon {
    fill: currentColor;
    margin-right: 10px;
  }
  
  
 