.menu-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    
   
    width: 40px;
    height: 40px;
   
    background-color: transparent;
    border: none;
    z-index: 15243;
    cursor: pointer;

    @media  screen and (min-width:768px) and (max-width:320px) {
        display: none;
    }

    .icon-cross {
        display: none;
    }

    &.is-open {
        position: fixed;
        top: 10px;
        right: 0;

        .icon-cross {
            display: block;
        }

        .icon-menu {
            display: none;
        }
    }

    @media screen and (min-width:768px) {
        display: none;
    }
}

.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 444;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: opacity var(--transition-duration),
        visibility var(--transition-duration);
    
    @media screen and (min-width:768px) {
        display: none;
    }

    &.is-open {
        opacity: 1;
        pointer-events: initial;
        visibility:visible;
    }

}

.menu-container {
    display: flex;
    flex-direction: column;
    position: absolute; 
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    max-width:480px;
    height: 100%;
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    padding: 48px 40px;
    transform: translateX(100%);
    transition: transform var(--transition-duration);
        
    .menu-overlay.is-open & {
        transform: translateX(0);
    }
}

.mobile-list:first-child {
    margin-bottom: auto;
}
.mobile-list:nth-child(2) {
    margin-bottom: 64px;
}

.mobile-social__list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    color: $color-light-blue;
}

.mobile-social__link {
    display: flex;
    
    .mob-social__item:not(:last-child) &::after {
        content: '';
        display: block;
        width: 1px;
        margin-left: 10px;
        background-color: rgba(33, 33, 33, 0.2);
    }
}
