.form-title {
    display: block;
    margin-bottom: 12px;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: $color-dark-grey;
  }

  .modal {
    position: relative;
    z-index: 2;
    /* width: 528px;
    height: 581px; */
    background: $color-white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform $transition-duration $transition-function;
    display: block;
    padding: 40px;
  }

  .backdrop.is-hidden .modal {
    transform: scale(0);
  }

  .modal-svg {
    background-color: $color-bg-hover-button-hero;
  }



