.nav {
    display: flex;
    align-items: center;
  }

  .nav__list {
    color: $color-dark-grey;
    display: flex;
    column-gap: 50px;
  }
    
  .nav__list .blue {
        color: $color-light-blue;
      }

      .nav__list > .nav__link:not(:last-child) {
        margin-right: 50px;
      }
      
      .nav__list .link:hover,
      .nav__list .link:focus {
        color: $color-light-blue;
      }
      
  .nav__list .blue::after,
  .nav__link:hover::after,
  .nav__link:focus::after {
    opacity: 1;
  }
  .nav__link::after {
    content: '';
    width: 100%;
    height: 4px;
    background-color: $color-light-blue;
    border-radius: 2px;
    position: absolute;
    display: block;
    opacity: 0;
    bottom: -1px;
    transition: opacity $transition-duration $transition-function;
  }
  
  .nav__link {
    position: relative;
  }
  
  .nav__link,
  .contacts__link {
    display: none;
    // display: flex;
    justify-content: center;
    padding-top: 32px;
    padding-bottom: 32px;
    align-items: center;
    transition: color $transition-duration $transition-function;
  
    @media screen and(min-width:768px) {
   display: flex;    
  }
  }


