body {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $color-grey;
    font-family: 'Roboto', sans-serif;
  }

  

  .hidden-title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  
.link-container {
    display: flex;
  }

 

  .is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  