.section {
  padding-top: 60px;
  padding-bottom: 60px;
  
  @include mq(desk) {
  padding-top: 94px;
  padding-bottom: 94px;
  }
  }
  
  .section-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    color: $color-dark-grey;
    text-align: center;
  }

 