@mixin mq($range) {
    $mob:480px;
    $tab:768px;
    $desk:1200px;
    @if $range == mob {
        @media screen and (min-width:$mob) {
            @content;
        }
    } @else if $range == tab {
        @media screen and (min-width:$tab) {
            @content;
        } 
    }@else if $range == desk {
            @media screen and (min-width:$desk) {
                @content;
            }
        }
        @else if $range == noDesk {
            @media (max-width:#{$desk - 0.02}) {
              @content;
            }
}

// @mixin section ($padding: 60px) {
//     padding-top: $padding;
//     padding-bottom: $padding;

//     @media screen and (min-width: 480px) {
//         padding-top: 60px;
//         padding-bottom: 60px;}
    
//     @media screen and (min-width: 1200px) {
//         padding-top: 94px;
//         padding-bottom: 94px;
        
        
//     }
}